<%= render "navbar" %>
<div class="container">
  <div class="col-sm-8 offset-sm-2">
    <h1>Edit an article</h1>
    <%= render "form" %>
    <%= link_to "All articles", all_articles_path, class: 'btn btn-secondary' %>
  </div>
</div>
